body {
    background-color: white;
    color: black;
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 20px;
}

a {
    text-decoration: 1;
    color: black;
}

.established {
    font-size: italic;
}