* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: Black;
  --background-color1: rgb(234, 234, 234);
  --background-color2: #fff;
  --color1: #4d4e53;
  --color2: #888;
}

body {
  background-color: var(--background-color1);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxigen, Ubuntu, Cantarell, "Open sans", "Helvetica Neue", sans-serif;
  padding: 10px 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

hr {
  display: block;
  border-left: auto;
  border-right: auto;
  border: 1px solid var(--main-color);
}

section {
  margin-top: 40px;
}

#navbar li {
  color: var(--color1);
  list-style: none;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: var(--color1);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: font-indent 3s ease-in-out;
}

#navbar a:hover {
  font-weight: 500;
  text-indent: 5px;
}

.pasos {
  font-size: 25px;
}

p {
  margin: 10px;
  font-size: 25px;
  user-select: none;
}

ol {
  margin-left: 30px;
}

#main-doc {
  /* margin: 0 20px; */
  /* margin-left: 350px; */
}

header {
  color: var(--main-color);
  margin: 15px;
  padding-top: 6px;
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  user-select: none;
}

code {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  text-align: left;
  font-size: 20px;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
  word-spacing: -3px;
  line-height: 1.5;
  background-color: var(--background-color2);
  padding: 0 15px;
  margin: 0 10px;
  border-radius: 5px;
  outline: 3px solid grey;
  max-inline-size: 1306px;
}

span {
  color: green;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
  text-align: center;
  outline: 4px solid rgb(236, 73, 73);
}

footer {
  padding: 30px;
  text-align: center;
  color: var(--color2);
}

footer a {
  color: var(--main-color);
  text-decoration: none;
}

.no {
  user-select: none;
}

footer a:hover {
  color: rgba(255, 0, 0, 0.481);
}

#imagen {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#imagen:hover {
  opacity: 0.7;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 950px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 60px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
      transform: scale(0.1)
  }

  to {
      transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 60px;
  right: 97px;
  color: #f1f1f1;
  font-size: 70px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 1400px) {
  body {
      overflow-x: hidden;
  }

  code {
      margin: 0 10px;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
  }

  .modal-content {
      margin: 10px 20px 10px 20px;
      display: block;
      width: 510%;
      max-width: 10px;
  }
}

@media only screen and (min-width: 950px) {
  body {
      flex-direction: row;
      overflow-y: scroll;
      overflow-x: hidden;
  }

  nav {
      width: 738px;
  }

  #navbar {
      width: 300px;
      position: fixed;
      height: 100%;
  }

  .image {
      width: 70%;
      margin-left: 20px;
  }

  #main-doc {
      margin: 0 20px;
      margin-left: 350px;
  }

  code {
      font-size: 20px;
      letter-spacing: -1.5px;
  }
}

@media (max-width: 800px) and (min-width: 52px) {
  body {
      overflow-x: scroll;
  }
  /* nav {
      width: 738px;
  } */
  html {
      width: 738px;
  }
}

@media (max-width: 425px) {
  body {
      overflow-y: scroll;
      overflow-x: hidden;
  }

  nav {
      width: 733px;
  }

  #navbar a {
      font-size: 30px;
      text-align: start;
  }

  code {
      margin: 0 10px;
      font-size: 25px;
      letter-spacing: -1px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color2);
}

/* word-spacing: x; espacios en blanco dentro de un elemento */