body {
    color: blanchedalmond;
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 20px;
}

.established {
    font-size: italic;
}